/moduls/nbproject/private/
/temperaturas/target/
/golosinas/nbproject/private/
/golosinas/build/
/moduls/nbproject/
/POO/nbproject/private/
/choche/nbproject/private/
/POO/build/
/agendaMain/nbproject/private/
